indexer_agent_image: "ghcr.io/graphprotocol/indexer-agent:v0.16.0"
indexer_service_image: "ghcr.io/graphprotocol/indexer-service:v0.16.0"
graph_node_image: "graphprotocol/graph-node:v0.23.1"

operator_wallet_seed_phrase: "<operator wallet mnemonic>"
indexer_wallet_address: "<indexer ethereum address>"
index_node_ids: "index_node_0"
ethereum_node_agent: "http://<eth node>:8547" 
ethereum_network_agent: "rinkeby" 
indexer_agent_restake_rewards: "false"
indexer_agent_allocation_claim_threshold: "1000"
graph_node_query_endpoint: "http://10.0.0.4:8000"  
graph_node_status_endpoint: "http://10.0.0.1:8030/graphql" 
graph_node_admin_endpoint: "http://10.0.0.1:8020" 
public_indexer_url: "http://<indexer-service ip>:7600" 
indexer_geo_coordinates: "your indexer geo coordinates" # example "-60.16952 24.93545" 
indexer_agent_network_subgraph_endpoint: "https://gateway.testnet.thegraph.com/network" 
indexer_agent_network_subgraph_deployment: "QmUBRDENCjFt57vVjFc3D4EQoYqXJffKiyFyuGYB2BN8Wi"


pg_agent_service_host: "10.0.0.3" 
pg_agent_service_username: "agent-service" 
pg_agent_service_password: "supersecure" 
pg_agent_service_database: "agent-service"

indexer_agent_collect_receipts_endpoint: "https://gateway.testnet.thegraph.com/collect-receipts"
indexer_service_client_signer_address: "0xe1EC4339019eC9628438F8755f847e3023e4ff9c"
indexer_service_network_subgraph_deployment: "QmUBRDENCjFt57vVjFc3D4EQoYqXJffKiyFyuGYB2BN8Wi"
indexer_service_network_subgraph_endpoint: "https://gateway.testnet.thegraph.com/network"
indexer_service_free_query_auth_token: "<some password / token here>"

pg_graph_node_host: "10.0.0.2"
pg_graph_node_username: "graph-node"
pg_graph_node_password: "supersecure"
pg_graph_node_database: "graph-node"
ipfs_endpoint: "https://ipfs.network.thegraph.com"
ethereum_node_graph: "mainnet:http://<your eth node>:8545"


grafana_pg_host: "10.0.0.2"
grafana_pg_user: "{{ pg_graph_node_username }}"
grafana_pg_pass: "{{ pg_graph_node_password }}"
grafana_pg_db: "{{ pg_graph_node_database }}"


prometheus_static_targets:
  - 'localhost:9090'
  - '10.0.0.1:8040'
  - '10.0.0.6:7300'
  - '10.0.0.8:7300'
  - '127.0.0.1:222'


docker_install_compose: false